<section >

    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">♺ Moves History</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <div class="card-text" *ngFor="let move of moves">
                <span className="num">𝔅 {{move.amount}} </span>
                <span className="num">|</span>
                <span className="lest">＄{{(move.amount * 46872) |number}} </span>
                <p class="card-text">

                    <span>status : </span> <span className='approve'>approve</span>
                </p>
                <p class="card-text">{{getDate()}}</p>
            </div>
            
        </div>
    </div>
</section>
