<google-chart *ngIf="marketData && marketTableTitle" 
  [title]="marketChart.title"
  [type]="marketChart.type" 
  [data]="marketChart.data" 
  [columnNames]="marketChart.columnNames"
  [options]="marketChart.options"
  style="width:100%; height:100%">
</google-chart>


<google-chart *ngIf="transactionsData && transactionsTableTitle" 
  [title]="transactionsChart.title"
  [type]="transactionsChart.type" 
  [data]="transactionsChart.data" 
  [columnNames]="transactionsChart.columnNames"
  [options]="transactionsChart.options"
  style="width:100%; height:100%">
</google-chart>
