

<div class="px-4 py-5 my-5 text-center" *ngIf="contact">
    <img class="d-block rounded-circle mx-auto mb-4" src="./assets/imgs/user.jpg" alt="" width="200" height="200">
    <h1 class="display-5 fw-bold">{{contact.name}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{contact.phone}}</p>
      <p class="lead mb-4">{{contact.email}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="['/contact/edit',contact._id]">Edit</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/contact">Back</button>
      </div>
    </div>
    <transfer-fund [contact]="contact"></transfer-fund>
    <move-list *ngIf="moves"[moves]="moves"></move-list>
  </div>
 
